.ant-card-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* width: 100%; */
  /* max-width: 250px; */
  max-height: 200px;
  /* height: 200px; */
  flex: 1 1 200px;
  margin: 0 !important;
  margin-inline: 0 !important;
}

.ant-card-meta-title {
  font-size: 15px !important;
}

.catalog__wrapper {
  width: 100%;
  display: flex;
}

.menu__link {
  width: 100%;
  display: block;
}

.sider-menu.ant-menu {
  border-inline-end: 0px!important;
}

.sider-menu.ant-menu .ant-menu-submenu-title {
  padding-inline-end: 0 !important;
  background-color: var(--medium-color);
}

.sider-menu.ant-menu .ant-menu-submenu-title a.menu__link {
  color: var(--background-color);
}

.sider-menu.ant-menu .ant-menu-submenu-selected .ant-menu-submenu-title a.menu__link {
  color: var(--default-color);
}

.sider-menu .ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: var(--line-color);
}

.sider-menu .ant-menu-sub li {
  background-color: var(--light-color);
  color: var(--background-color);
}

.sider-menu .ant-menu-submenu-title:hover a.menu__link {
  color: var(--default-color)!important;
}

.ant-checkbox-group {
  /* flex-direction: column; */
}
