.carousel {
  width: 100%;
}

.carousel__home {
  height: 260px;
}

.carousel__home.slide_1 {
  background: url("./../../assets/slide_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel__home.slide_2 {
  background: url("./../../assets/slide_2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 970px) {
  .carousel__home {
    height: 160px;
    color: #fff;
  }
}

@media (max-width: 600px) {
  .carousel__home {
    height: 250px;
  }
}

@media (max-width: 450px) {
  .carousel__home.slide_1,
  .carousel__home.slide_2 {
    background-position: -45px;
    height: 200px;
  }
}

.navigation__home {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.navigation__home .button_primary {
  width: 250px;
}

.advantages__row {
  justify-content: center;
}

.advantages__col {
  min-width: 300px !important;
}

.advantages__card {
  box-shadow: none !important;
}
