.footer {
    height: 46px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
    border-top: 1px solid rgba(5, 5, 5, 0.06);
}

.footer__wrapper {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}
